html, body {
    height: 100%;
}

body {
    min-height: 100%;
    background: linear-gradient(to bottom, #73c9ff, #51c4a9);
}

.header {
    background-color: black;
    padding: 20px;
}

.header h1 {
    color: aqua;
    text-align: center;
}

.header button {
    width: 15%;
    margin: auto;
    display: block;
    border-radius: 10px;
    font-weight: 600;
    background-color: turquoise;
}

.note {
    height: 200px;
    width: 200px;
    background-color: turquoise;
    position: absolute;
}

.toolbar {
    width: 100%;
    Height: fitcontent;
    background-color: black;
    font-size: 20pageXOffset;
    text-align: right;
}


.toolbar {
    width: 100%;
    Height: fitcontent;
    background-color: black;
    font-size: 20pageXOffset;
    text-align: right;
}

.close {
    color: azure;
    font-size: 20px;
    margin-right: 5px;
    cursor: pointer;
}

.editable{
    overflow-y: scroll;
    height: 170px;
}